.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body{
    background-color:hsl(30, 54%, 90%);
    max-width: 1440px;
    min-width: 430px;
}

main{
    margin: 75px;
    width: 100%;
}

p{
    font-family: 'young-serif', sans-serif;
    font-size: 0.9em;
}

li{
    font-family: 'outfit', sans-serif;
}

.container{
    width: 50%;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px ;
    min-width: 430px;
    color: hsl(30, 10%, 34%);
}   

img{
    display: block;
    width: 90%;
    padding: 20px;
    margin-bottom: -20px;
}
.prep{
    background-color: hsl(330, 100%,98%);
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    font-size: 0.9em;
    color: hsl(30, 10%, 34%)
}

.prep > p{
    color: hsl(332, 51%,32%);
    font-weight: 700;
}

p{
    margin-left: 25px; 
}

.ingredients, .instructions{
    font-size: 0.9em;
}

h1,h2, .nutri-value{
    margin-left: 25px;
    color: hsl(24, 5%, 18%);
}

h2{
    color: hsl(14, 45%,36%)
}



.nutrition{
    display: inline-block;
    width: 40%
}

.value{
    display: inline-block;
    color:hsl(14, 45%,36%);
}

hr{
    width: 92%;
    margin-top: -5px;
}

@media (max-width: 500px){
    main{
        margin: 0;
    }
    body{
        
        padding: 0;
        margin: 0
    }
}

